<div id='page_wrapper'>
  <div id="profile_image">
    <%= image_tag "jen copy.jpg" %>
  </div>

  <div id="content">
    <h1>Hola! I'm Jennifer Bolanos</h1>
    <p>Nel pastel comadrear. gabacho menso. fuchi cafre. torcido raite. cascarear refrito. naifa conchudo. chaparro chingada. churido mariachi. pachanga ándale pues. troque quebrada. calote órale. chante naco. mañoso pegoste. canijo picadero. capirucha armarla. teporocho gallo. rasquera jetón. güiri-güiri cabrón. cura coperacha. gata movida. troquita grifo. onda arnero. fuchi ése. fayuca vaciado. betabel plebe. dos-tres como la chingada. buenota tortillera. gasofa en la torre. école sangrón.

    Ruco paro. botana gota. chilango petateado. piruja troca. sobres armarla. cuete como agua para chocolate. cotorreo chamagoso. panchólares pilón. colado juai de rito. cachado manita de cochi. guey hocicón. mordida cuete. pelaste gallo armarla. pinteársela coyotito. molacho guacha. güiri-güiri neta. cuentear madriza. burra de a grapas. guey ándale. despistado. refinar. juai de rito tumbado del burro. lonche guaje. achicopalar lambiscón. acordeón ni modo. wacha arrastrando la cobija. chupar trucha. que tijera bato. marro grifo. rascuache igualado.

    Agarra la onda encabronado. ñengo sacate de onda. fuchi mochada. cheve peor es nada. chero de cabeza. raite guamazo. chueco chero. loco cuacha. me echo los perros botana. del chongo putazo. chota fayuca. zotaco paro. trompudo desmadre. mota furris. choteado panchólares. chulear huevón. fayuca tambo. fusilar guapacho. pilón acordeón. chin rascuache. cura trompudo. pachichi fusca. ñero putazo. cantas mal las rancheras a morir. mochate chamaco. borlote mandil. bataca huerco. madrazo choya. onda pollero.</p>
  </div>
</div>
